# Environments
venv/
backend/venv/
node_env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Zips
*.zip

# OS
.DS_Store
Thumbs.db
dump.rdb
