# Environments
venv/
backend/venv/
node_env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Zips
*.zip

# OS
.DS_Store
Thumbs.db
